@import "tailwindcss";

@theme {
  --font-sans: "Poppins", system-ui, sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-100: #f0f0f0;
  --color-grey-200: #dcdcdc;
  --color-grey-500: #716f6f;
  --color-red-400: #ff5959;
  --color-purple-500: #854dff;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}
